<footer id="site-footer">
  <div class="wrapper">
    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul>
          <li>{% include icon-github.html %}</li>
          <li>{% include icon-gitter.html %}</li>
          <li>{% include icon-issues.html %}</li>
        </ul>
      </div>
      <div class="footer-col footer-col-2">
        <img class="logo" src="{{ '/images/logo.png' | prepend: site.baseurl }}">
        <p>{{ site.description }}</p>
        <p>Copyright &copy; 2016</p>
      </div>
    </div>
  </div>
</footer>
