@charset "utf-8";

@import url(https://fonts.googleapis.com/css?family=Varela+Round);
@import url(https://fonts.googleapis.com/css?family=Fira+Sans:300,400,500,300italic,400italic,500italic);

@import 'normalize';
@include normalize();

$font-family-normal: 'Fira Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-round:  'Varela Round', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-weight-light:  300;
$font-weight-normal: 400;
$font-weight-bold:   500;

$base-font-family:   $font-family-normal;
$base-font-size:     16px;
$base-line-height:   1.5;

$grey:               #828282;
$grey-light:         lighten($grey, 25%);
$grey-dark:          darken($grey, 25%);
$blackish:           #111;
$whiteish:           #fdfdfd;

$background-color:   $whiteish;
$brand-color:        #3492ff;
$text-color:         $blackish;

$border-radius:      5px;
$columns:            6;

$spacing:            30px;
$header-height:      56px;

$content-width:      1060px;
$mobile:             600px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

@mixin columns($num_columns) {
  $column_width: 100 / $columns;
  $width: $column_width * $num_columns;
  @include calc(width, unquote("#{$width}% - #{$spacing} / 2"));
}

%clearfix {
  *zoom: 1;
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

body {
  background-color: $background-color;
  font-family: $base-font-family;
  font-size: $base-font-size;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-family-round;
  font-weight: normal;
}

h1, h2 {
  &:after {
    border-bottom: 3px solid $brand-color;
    content: '';
    display: block;
    margin: -4px 0 0 1px;
    width: 35px;
  }
}

h1:after {
  border-width: 4px;
  margin: -6px 0 0 2px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.icon {
  > svg {
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: middle;

    path {
      fill: $grey;
    }
  }
}

.wrapper {
  @include calc(max-width, unquote("#{$content-width} - #{$spacing} * 2"));
  @extend %clearfix;
  margin: 0 auto;
  padding: 0 $spacing;
  position: relative;
}

#site-header {
  border-top: $border-radius solid $brand-color;
  border-bottom: 1px solid $grey-light;
  height: $header-height;

  .home {
    display: block;
    float: left;
    height: $header-height;

    .logo {
      $padding: 5px;
      @include calc(height, unquote("#{$header-height} - (#{$padding} * 2)"));
      padding: $padding 0;
    }
  }

  #subline {
    font-family: $font-family-round;
    color: $grey-light;
    position: absolute;
    bottom: 9px;
    left: 90px;
  }
}

#site-nav {
  float: right;
  line-height: $header-height;
  text-transform: uppercase;

  .menu-icon {
    display: none;
  }

  a:hover {
    text-decoration: underline;
  }

  .page-link {
    color: $text-color;
    line-height: $base-line-height;

    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($mobile) {
    position: absolute;
    top: 9px;
    right: $spacing / 2;
    background-color: $background-color;
    border: 1px solid $grey-light;
    border-radius: $border-radius;
    text-align: right;

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        width: 18px;
        height: 15px;

        path {
          fill: $grey-dark;
        }
      }
    }

    .trigger {
      clear: both;
      display: none;
    }

    &:hover .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}

#site-footer {
  border-top: 1px solid $grey-light;
  padding: $spacing 0;

  .logo {
    width: 30px;
  }

  .footer-heading {
    font-size: 18px;
    margin-bottom: $spacing / 2;
  }

  .footer-col-wrapper {
    @extend %clearfix;
    font-size: 15px;
    color: $grey;
    margin-left: -$spacing / 2;
  }

  .footer-col {
    float: left;
    margin-bottom: $spacing / 2;
    padding-left: $spacing / 2;
  }

  .footer-col-1 {
    @include columns(2);
  }

  .footer-col-2 {
    @include columns(4);
    text-align: right;
  }

  @include media-query($mobile) {
    .footer-col {
      @include columns(6);
      float: none;
      text-align: center;
    }
  }
}

@import 'zenburn';
